*{
				padding: 0px;
				margin: 0px;
				color: white;
				font-family: 'Abhaya Libre', serif;
				}
								
								body{
																background-color: black;
																height: 100vh;
																padding: 10px;
												}
												
								main{
																outline: 1px dotted white;
																padding: 10px;
																height: auto;
																width: 95%;
																margin: 0 0 20px 0;
												}
								
								header{
																outline: 0px dashed yellow;
																height: 100px;
																margin: 0 0 20px 0;
												}
								
								#app-name{
																outline: 0px solid green;
																width: 5em;
																font-weight: 1000;
																font-size: 3rem;
																padding: 10px 0 0 15px;
												}
								
								/* space belongs to app-details */
								
								#app-details{
																outline: 1px solid purple;
																display: block;
																width: 1em;
																height: 1em;
																padding: 10px;
																font-size: 12px;
																text-align: justify;
																position: relative;
																top: -3em;
																left: -1em;
																overflow: hidden;
																background-color: white;
																float: right;
												}
												
							 #app-details:hover{
							 								width: 15em;
							 								height: 9.5em;
							 								padding: 10px;
							 								background-color: black;
							 								outline: 1px solid white;
							 								/*transition-timing: ease-out;*/
							 								transition-duration: 0.5s;
							 				}
												
								li{list-style-type: none;}
								
								#quote-open, #quote-close{
																outline: 1px solid purple;
																display: inline-block;
																height: 50px;
																line-height: 100px;
																font-weight: 1000;
																font-size: 100px;
																margin: 10px;
												}
								
								#quote-close{
																position: relative;
																left: 315px;
												}
								
								#quote{
																outline: 1px solid gold;
																margin: 0 auto;
																text-align: center;
																line-height: 25px;
																width: 18em;
																padding: 10px;
												}
								
								#copy-button{
																outline: none;
																display: block;
																width: 10em;
																height: 2.5em;
																margin: auto;
																background-color: transparent;
																border: 0px;
																border-bottom: 2px solid white;
																padding: 0 0 5px 0;
																font-size: 15px;
																margin-top: 20px;
												}
								
								i{
																display: inline-block;
																padding: 0 0 0 5px;
												}
								
								#copy-button:active{
																width: 8em;
																transition: 0.1s;
																opacity: 0.9;
												}
								
								#copy-action-status{
																border-top: 1px dotted white;
																display: block;
																height: 3em;
																width: 9em;
																padding: 3px 0 0 0;
																margin: auto;
																margin-top: 5px;
																text-align: center;
																font-size: 14px;
												}
								
								footer{
																outline: 0px solid orange;
																text-align: center;
																height: 30px;
																line-height: 30px;
																font-size: 13px;
																font-weight: 1000;
												}
